services:
  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    ports:
      - "1880:1880"
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - nodered_data:/data
    depends_on: [ mongo, mosquitto ]
    networks: [ iot ]

  mongo:
    image: mongo:6
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      - mongo_data:/data/db
    networks: [ iot ]

  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://admin:admin123@mongo:27017/?authSource=admin
      - ME_CONFIG_BASICAUTH=true
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin123
    depends_on: [ mongo ]
    networks: [ iot ]

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1884:1883"                         # para clientes no host (MQTT Explorer)
    volumes:
      - ./mosquitto/config:/mosquitto/config:ro
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
    networks: [ iot ]

volumes:
  nodered_data:
  mongo_data:
  mosquitto_data:
  mosquitto_log:

networks:
  iot:
    driver: bridge
